body{
    
    background: url(logob.png);
    background-repeat: no-repeat;
    background-size:  cover;
    

  }
  h1{
    font-size: 38px;
    padding-top: 100px;
    padding-right: 60px;
    color: white;
    
  }
  img{
width: 450px;
height: 450;
padding-top: 180px;
padding-left: 200px;
  }
  input[type=text] {
    width: 30%;
    padding: 20px 60px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid;
    border-color:white;
    
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
  
  input[type=message] {
    width: 30%;
    height: 50px;
    padding: 60px 60px;
    margin: 8px 0;
    box-sizing: border-box;
    border:3px solid;
    border-color:white;

    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }
  
  button[type=submit] {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 15px 30px;
    margin-left: 350px;
    
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
  }
  

   
    
  
  @media screen and (max-width:900px){
  
      .main-contianer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly; 
        
      }
    
    }