body{
  padding-top: 30px;
}
img{
  
width: 700px;
height: 400px;
padding-left: 50px;

}
button
{
background-color: blue;
color: white;
padding: 10px 20px;


}
div.last{padding-top: 150px;
  padding-left: 150px;
}
